.container-reset {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.title{
    color: rgba(80, 80, 80, 0.829);
    font-weight: bold;
}
.subtitle{
    color: rgba(80, 80, 80, 0.829);
    font-size: 1rem;

}


.forgot {
    text-decoration: none;
}

